<!--{{ partial "header.html" . }}-->
<!--    <div class="topnav">-->
<!--          <a href="../index.html">Home</a>-->
<!--          <a class="active" href="single.html">News</a>-->
<!--&lt;!&ndash;          <a href="contact.html">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="about.html">About</a>&ndash;&gt;-->
<!--        </div>-->
<!--    <hr class="topnav">-->

<!--        <br></br>-->
<!--        <br></br>-->
<!--        <br></br>-->
<!--        <h1 style="font-size:3vw">News</h1>-->
<!--        <hr style="width: 328px; max-width:30vw;">-->
<!--        <h2 style="font-size:2vw">More info coming soon!</h2>-->
<!--        </div>-->
<!--{{ partial "footer.html" . }}-->
