{{ partial "header.html" . }}
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
  {{ range $index, $element := split $url "/" }}
    {{ if eq $element "nl" }}
          <div class="topnav">
          <a href='{{ "" | absLangURL }}'>CC</a>
          <a href='{{ "news" | absLangURL }}'>Nieuws</a>
          <a href='{{ "contact" | absLangURL }}'>Contact</a>
          <a class="active" href='{{ "about" | absLangURL }}'>Over</a>
        </div>
    {{ else if eq $element "en"}}
        <div class="topnav">
          <a href='{{ "" | absLangURL }}'>Home</a>
          <a href='{{ "news" | absLangURL }}'>News</a>
          <a href='{{ "contact" | absLangURL }}'>Contact</a>
          <a class="active" href='{{ "about" | absLangURL }}'>About</a>
        </div>
    {{ end }}
  {{ end }}
    <hr class="topnav">

{{ partial "center-content.html" . }}
{{ partial "footer.html" . }}
