<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CloseCircle</title>
        <link href="/closecircle-website/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
    <a href='{{ "" | absLangURL }}'>
        <img src="/closecircle-website/images/cc-logo.png" style="max-width:12vw; width:5.8em; position:absolute; top: 1em; left:1em;">
    </a>

    {{ if .Site.IsMultiLingual }}
	{{ range .Site.Languages }}
	{{ if eq . $.Site.Language }}
		<a href="" class="active language">{{ .Lang }}</a>
	{{ else }}
		{{ range $.Translations }}
		<a href="{{ .Permalink }}" class="">{{ .Language.Lang }}</a>
		{{ end }}
	{{ end }}
	{{ end }}
    {{ end }}


